# cert-manager ClusterIssuer patches
---
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt-prod
spec:
  acme:
    email: ${LETSENCRYPT_EMAIL}
---
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt-staging
spec:
  acme:
    email: ${LETSENCRYPT_EMAIL}
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: backend
  namespace: backend
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-${CERT_ISSUER}
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: frontend
  namespace: frontend
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-${CERT_ISSUER}
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: judge-websocket
  namespace: backend
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-${CERT_ISSUER}
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: judge-api
  namespace: backend
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-${CERT_ISSUER}
