apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

images:
  - name: BACKEND_IMAGE
    newName: ${BACKEND_IMAGE_NAME}
    newTag: ${BACKEND_IMAGE_TAG}
  - name: FRONTEND_IMAGE
    newName: ${FRONTEND_IMAGE_NAME}
    newTag: ${FRONTEND_IMAGE_TAG}
  - name: JUDGE_IMAGE
    newName: ${JUDGE_IMAGE_NAME}
    newTag: ${JUDGE_IMAGE_TAG}

patches:
  - path: domain-patch.yaml
  - path: efs-patch.yaml
  - path: cert-issuer-patch.yaml

secretGenerator:
  - name: backend-secrets
    namespace: backend
    literals:
      - jwt_secret=${JWT_SECRET}
      - admin_password=${ADMIN_PASSWORD}
      - bob_email=${BOB_EMAIL}
      - bob_password=${BOB_PASSWORD}
      - alice_email=${ALICE_EMAIL}
      - alice_password=${ALICE_PASSWORD}
      - db_user=${DATABASE_USER}
      - db_pass=${DATABASE_PASS}
      - google_client_id=${GOOGLE_CLIENT_ID}
      - google_client_secret=${GOOGLE_CLIENT_SECRET}
      - google_redirect_uri=https://api.${DOMAIN_NAME}/api/auth/google/callback
      - smtp_host=${SMTP_HOST}
      - smtp_port=${SMTP_PORT}
      - smtp_username=${SMTP_USERNAME}
      - smtp_password=${SMTP_PASSWORD}
      - email_from=${EMAIL_FROM}

generatorOptions:
  disableNameSuffixHash: true
