apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: compiled-artifacts-pvc
  namespace: backend
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: efs-sc
  resources:
    requests:
      storage: 10Gi
