[package]
name = "axel-tournament-judge"
version = "0.1.0"
edition = "2021"

[dependencies]
tokio = { version = "1", features = ["full"] }
serde = { version = "1", features = ["derive"] }
serde_json = "1"
bollard = "0.19"
anyhow = "1"
bytes = "1"
tracing = "0.1"
tracing-subscriber = "0.3"
chrono = { version = "0.4", features = ["serde"] }
futures = "0.3"
futures-util = "0.3"
surrealdb = { version = "2.4", features = ["protocol-ws"] }
tar = "0.4"
http-body-util = "0.1"
